*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

}

/* yellow: #FFD333

black: #3D464D */



.nav-part-two{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.search-bar{
    display: flex;
    align-items: center;
}


.logo{
    font-size: 1.5em;
    text-transform: uppercase;
}

.logo1{
    color: #FFD333;
    background-color: #3D464D;
    padding: 7px;
}

.logo2{
    color: #3D464D;
    background-color: #FFD333;
    padding: 7px;
}

.search-bar{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 5%;
}


.search{
    width: 50%;  
    padding: 5px;  
    border: 1px solid #ced4da;
    height: 50%;
    font-size: 1rem;
}

.search:focus{
    outline: none !important;
    border: 1px solid #FFD333;

}

.search::placeholder{
    font-weight: 400;
    font-size: 1rem;
}

.search-icon{
    border: 1px solid #ced4da;
    padding: 5px;
    height: 50%;
    color: #FFD333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pn{
    display: flex;
    flex-direction: column;
}

.cs{
    text-align: end;
    font-size: 1em;
    font-weight: 500;
    color: #6C757D;
}

.phone-number{
    font-size: 1.4em;
    font-weight: 500;
    color: #3D464D;
}

.nav-part-three{
    display: flex;
    justify-content: space-between;
    height: 4em;
    background-color: #3D464D;
    padding-right: 5%;
    padding-left: 5%;
}




.categories{
    display: flex;
    flex-direction: row;
    background-color: #FFD333;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.hide{
    display: none;
}

.dropdown{
    margin-left: 5%;
    /* display: none;    */
    width: 20%;
}

#dropdown{
    list-style-type: none;
}

.dropdown1{
    display: flex;
    border: 1px solid #F5F5F5;
}



.dropdown li{
    
    padding: 1px;
}

.dropdown a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.d1{
    padding: 5%;
    border: 1px solid #F5F5F5;
}

.dropdown1-content{
    display: none;
    position: absolute;
    left: 25%;
    top: 160px;
    
    
}


.dropdown1:hover .dropdown1-content{
    display: block;
}






















.links a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.links a:hover{
    color: #FFD333;
}

.links{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.drop li{
    list-style-type: none;
    padding: 5px 10px;


}

.drop li:hover{
    background-color: white;
}

.pages{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop{
    width: 10em;
    display: none;
    position:absolute;
    margin-top: 7.5em;
    border: 1px solid #FFD333;
    background-color: #FFD333;
}


.pages:hover .drop{
    display: block;
}

.nav3-part3{
    color: #FFD333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
}

.numbers{
    text-align: center;
    /* padding: 10px; */
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 1.2;
}
